.banner {
    position: relative;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png");
    height: 787px;
    background-size: cover;

    &-slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 100%;
        a {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
}

@include mobile() {
    .banner {
        height: 396px;
    }
}


.subslogan {
    .list {
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 23%;
        }
    }
}

@include pad() {
    .subslogan {
        .list {
            &-item {
                width: 48%;
            }
        }
    }
}

@include mobile() {
    .subslogan {
        .list {
            &-item {
                width: 100%;
            }
        }
    }
}

.classical {
    ul li {
        width: 31.33%;
        @include pad() {
            width: 100%;
        }
    }
}

.design {
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg.png");
    height: 608px;
    background-size: cover;
    ul li {
        width: 50%;
    }
}

@include pad() {
    .design {
        background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/index-bg-md.png");
        height: 960px;
        ul li {
            width: 100%;
        }
    }
}

.recommand {
    ul li {
        width: 23%;
        @include pad() {
            width: 48%;
        }
        @include mobile() {
            width: 100%;
        }
    }
}

