@each $key, $value in $grid-breakpoints {
  @if not $value {
    @each $fontKey, $value in $fonts {
      .font-#{$fontKey} {
        font-size: $value;
      }
    }
  }
  @else {
    @media (max-width: $value) {
      @each $fontKey, $value in $fonts {
        .font-#{$key}-#{$fontKey} { 
          font-size: $value;
        }
      }
    }
  }
}


@each $fontWeightKey, $value in $fontWeights {
  .font-#{$fontWeightKey} {
    font-weight: $value;
  }
}